
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    font-size: 5.625rem;   
    margin-top: 0; 
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color:#66BFBF;
    line-height: 2;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
   position: relative;
   background-color: #EAF6F6;
   padding-top: 100px;
}

.middle-container {
    margin: 50px 0;;
}

.middle-container .profile img {
    height: 170px;
    width: 170px;
     
}

.middle-container .skills img {
    height: 170px;
    width: 170px;
     
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    
}

.intro {
    width: 30%;
    margin:auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright-message {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 5px 0;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
}
a:hover {
    color: #EAF6F6;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top:50px
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.computer {
    width:25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -moz-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -ms-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -o-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: linear-gradient(to bottom, #30e3cb, #30e3cb);
    text-decoration: none;
  }